#default-posts {
  .post-list {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px 24px;

    .ant-row {
      & > div {
        .ant-list-item {
          margin-bottom: 20px;
          padding: 15px;
          border-radius: 4px;
          box-shadow: 0 4px 10px rgba(0, 0, 0, .05), 0 0 1px rgba(0, 0, 0, .1);
          transition: all 0.6s;

          &:hover {
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
          }

          .ant-list-item-main {
            .ant-list-item-meta-title {
              font-size: 18px;
              color: #314659;

              a {
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }

            .ant-tag {
              margin-right: 0;
              border-color: @primary-color-2;
              background-color: @primary-color-1;
            }

            .ant-list-item-action {
              li {
                padding: 0;
              }
            }
          }

          .ant-list-item-extra {
            position: relative;
            margin-left: 10px;
            border-radius: 8px;
            box-shadow: 0 8px 15px rgba(0, 0, 0, .4);
            overflow: hidden;
            cursor: pointer;

            &::before {
              content: '';
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: -100%;
              background: linear-gradient(to right, transparent, #fff, transparent);
              transition: all 700ms;
            }

            &:hover {
              &::before {
                left: 100%;
              }
            }

            img {
              border-radius: 8px;
            }
          }
        }
      }
    }

    .ant-list-pagination {
      text-align: center;
    }
  }
}

@media screen and (max-width: 480px) {
  #default-posts {
    .post-list {
      .ant-row {
        & > div {
          .ant-list-item {
            .ant-list-item-main {
              margin-top: 30px;
              text-align: center;
            }

            .ant-list-item-extra-wrap {
              justify-content: center;

              .ant-list-item-extra {
                margin: auto 10px;
              }
            }
          }
        }
      }
    }
  }
}
