<!doctype html>
<html lang="{{ lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="{{{ title }}}"/>
  <meta property="og:site_name" content="{{{ title }}}"/>
  <meta property="og:locale" content="{{ lang }}"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:title" content="{{{ title }}}"/>
  {{{ userHeadTags }}}
  {{{ pageMeta }}}
  {{{ renderResourceHints() }}}
  {{{ renderStyles() }}}
</head>
<body>
<noscript>
  JavaScript fails to load.
</noscript>
<!--vue-ssr-outlet-->
{{{ renderScripts() }}}
</body>
</html>
