#header {
  padding-top: 20px;
  height: 84px;
  line-height: 64px;
  background-color: #ffffff;

  .container {
    position: relative;
    margin: 0 auto;
    padding: 0 24px;
    width: 100%;
    max-width: 1200px;

    .menu-icon {
      display: none;
      position: absolute;
      top: 25px;
      right: 30px;
      cursor: pointer;
      z-index: 1;
    }

    .logo {
      height: 64px;
      line-height: 64px;

      img {
        height: 32px;

        & + svg {
          position: relative;
          top: 20px;
        }
      }
    }

    .search {
      float: left;
      margin: 22px auto 0;
      padding-left: 16px;
      height: 24px;
      line-height: 24px;
      border-left: 1px solid #ebedf0;

      .search-icon {
        position: relative;
        color: #ced4d9;
        top: -3px;
      }

      .search-input {
        top: -4px;
        direction: ltr;

        input {
          position: relative;
          border: 0;
          box-shadow: none;
          background: inherit;
        }
      }
    }

    .navigation {
      float: right;
      margin: 11px auto 0;
      height: 11px;
      line-height: 11px;

      .menu {
        border-bottom: none;
        background: inherit;

        .category-icon {
          margin-left: 10px;
        }
      }
    }
  }
}

#menu-mobile {
  .menu {
    min-width: 260px;
    border-right: none;
  }
}

.search-dropdown {
  .select-group {
    border-bottom: 1px solid #f6f6f6;

    .group-title {
      font-size: 14px;
    }

    .select-option {
      background-color: inherit;

      a {
        display: block;
        color: inherit;
        font-weight: normal;
      }

      &:hover {
        background-color: @primary-color-1;

        a {
          color: @primary-color-5;
        }
      }
    }

    .select-option-tag {
      display: inline-block;
      margin-left: 20px;
      padding: 0;
      background-color: inherit;

      div {
        margin-right: 20px;

        &:hover {
          color: @primary-color;
          border-color: @primary-color-4;
          background-color: @primary-color-1;
        }
      }
    }
  }

  .search-empty {
    background-color: inherit;
  }

  .search-more {
    background-color: inherit;
    text-align: center;

    a {
      display: block;
      font-size: 13px;
      font-weight: normal;
      color: rgba(0, 0, 0, 0.45);

      &:hover {
        color: @primary-color-5;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  #header {
    .container {
      text-align: center;

      .menu-icon {
        display: block;
      }
    }
  }
}
