::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background-color: @body-background;
}

::-webkit-scrollbar {
  width: @padding-xs;
  height: @padding-xs;
}

::-webkit-scrollbar-thumb {
  border-radius: @border-radius-base;
  background-color: fade(@scrollbar-background, 30%);
}

::selection {
  background-color: @scrollbar-background;
}

html,
body {
  width: 100%;
  height: 100%;
}

ol, ul {
  padding-left: @padding-lg;
}
