@keyframes loadingContainer {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loadingBox {
  0% {
  }
  50% {
    box-shadow: inset 0 0 0 0.1vw #17E1E6, 0 0 1.5vw 0 #17E1E6;
  }
  100% {
  }
}

@keyframes ityped {
  100% {
    opacity: 0;
  }
}

@keyframes bannerTitleLine {
  0%, 25% {
    transform: translateX(-64px);
  }
  75%, 100% {
    transform: translateX(544px);
  }
}
