#yur {
  #header {
    width: 100%;
    height: 64px;
    background: @component-background;

    .header-container {
      margin: 0 auto;
      padding: 0 @padding-md;
      width: 100%;
      max-width: 1440px;
      height: 100%;
      line-height: 64px;

      &-logo {
        float: left;
        height: 100%;

        img {
          width: 100%;
          max-width: 36px;

          & + svg {
            margin-left: 6px;
          }
        }

        svg {
          vertical-align: middle;
        }
      }

      &-menu {
        float: right;
        line-height: 64px;
        border-bottom: none;

        &-sub-icon {
          margin-right: 0;
        }

        &-item {
          margin: 0 3px;
          top: 0;
          height: 32px;
          line-height: 32px;
          border-bottom: none;
          vertical-align: middle;
          border-radius: @border-radius-base;
          transition: box-shadow 0.3s @ease-in-out;

          &:hover {
            border-bottom: none;
            box-shadow: @box-shadow-yur;
          }

          &.ant-menu-submenu-selected,
          &.ant-menu-item-selected {
            box-shadow: @box-shadow-yur;
          }
        }

        &-mobile {
          display: none;

          &-popover {
            .ant-popover-arrow {
              display: none;
            }

            .ant-popover-inner {
              box-shadow: @box-shadow-yur;

              .ant-menu-inline {
                border-right: none;
                text-align: center;

                .ant-menu-item {
                  width: 100%;
                  padding: 0 24px;

                  &:active {
                    background-color: transparent;
                  }

                  &-selected {
                    background-color: transparent;
                    box-shadow: @box-shadow-yur;

                    &::after {
                      border-right: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  #main {
  }

  #footer {
  }
}

@media screen and (max-width: @screen-sm) {
  #yur {
    #header {
      .header-container {
        position: relative;

        &-logo {
          float: none;
          text-align: center;
        }

        &-menu {
          display: none;

          &-mobile {
            display: block;
            position: absolute;
            top: 0;
            right: @padding-md;
          }
        }
      }
    }

    #main {
    }

    #footer {
    }
  }
}
