#yur {
  #header {
    width: 100%;
    height: 64px;
    background: @component-background;

    .header-container {
      margin: 0 auto;
      padding: 0 @padding-md;
      width: 100%;
      max-width: 1440px;
      height: 100%;
      line-height: 64px;

      &-logo {
        float: left;
        height: 100%;

        img {
          width: 100%;
          max-width: 36px;

          & + svg {
            margin-left: 6px;
          }
        }

        svg {
          vertical-align: middle;
        }
      }

      &-menu {
        float: right;
        line-height: 64px;
        border-bottom: none;

        &-sub-icon {
          margin-right: 0;
        }

        &-item {
          margin: 0 3px;
          top: 0;
          height: 32px;
          line-height: 32px;
          border-bottom: none;
          vertical-align: middle;
          border-radius: @border-radius-base;
          transition: box-shadow 0.3s @ease-in-out;

          &:hover {
            border-bottom: none;
            box-shadow: @box-shadow-yur;
          }

          &.ant-menu-submenu-selected,
          &.ant-menu-item-selected {
            box-shadow: @box-shadow-yur;
          }
        }

        &-mobile {
          display: none;

          &-popover {
            .ant-popover-arrow {
              display: none;
            }

            .ant-popover-inner {
              box-shadow: @box-shadow-yur;

              .ant-menu-inline {
                border-right: none;
                text-align: center;

                .ant-menu-item {
                  width: 100%;
                  padding: 0 24px;

                  &:active {
                    background-color: transparent;
                  }

                  &-selected {
                    background-color: transparent;
                    box-shadow: @box-shadow-yur;

                    &::after {
                      border-right: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  #main {
    padding: 30px 0;
    min-height: calc(~'100vh - 64px');

    #home {
      #carousel {
        padding: 0 30px;

        & > div {
          position: relative;
          margin: 0 auto;
          padding: @border-radius-base;
          width: 100%;
          max-width: 1440px;
          background: @component-background;
          box-shadow: @box-shadow-yur;
          border-radius: @border-radius-base;

          .carousel-container {
            .carousel-item {
              height: 350px;
              background-position: 50%;
              background-size: cover;
              background-repeat: no-repeat;
              border-radius: @border-radius-base;
              text-align: center;

              .content {
                padding: 0 60px;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h2 {
                  margin-bottom: 30px;
                  width: 70%;
                  font-size: 28px;
                  font-weight: 400;
                  color: @white;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  align-self: flex-start;
                  text-align: left;
                }

                button {
                  align-self: flex-start;

                  &:hover {
                    color: @component-background;
                    border-color: @component-background;
                  }
                }
              }
            }
          }

          .notice {
            position: absolute;
            top: 14px;
            right: 14px;
            padding: 2px 5px;
            background: @component-background;
            box-shadow: @box-shadow-yur-inset;
            border-radius: 50%;
            text-align: center;

            &-bell {
              animation: bell 3s .7s ease-in-out infinite;
            }
          }
        }
      }
    }
  }

  #footer {
    padding: 15px 0;
    width: 100%;
    text-align: center;
    background: @component-background;

    .footer-container {
      margin: 0 auto;
      width: 100%;
      max-width: 1440px;
      height: 100%;
      text-align: center;

      .bei-an {
        color: @text-color;
      }
    }
  }
}

@media screen and (max-width: @screen-sm) {
  #yur {
    #header {
      .header-container {
        position: relative;

        &-logo {
          float: none;
          text-align: center;
        }

        &-menu {
          display: none;

          &-mobile {
            display: block;
            position: absolute;
            top: 0;
            right: @padding-md;
          }
        }
      }
    }

    #main {
      padding: 15px 0;

      #home {
        #carousel {
          padding: 0 15px;

          .carousel-container {
            .carousel-item {
              height: 240px;

              .content {
                padding: 0 30px;
                text-align: center;

                h2 {
                  width: 100%;
                  font-size: 18px;
                  text-align: center;
                  white-space: normal;
                }

                button {
                  align-self: center;
                }
              }
            }
          }
        }
      }
    }

    #footer {
    }
  }
}
